body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 250px;
  }
  button {
    margin-bottom: 10px;
    width: 100%;
  }
  label {
    display: block;
    margin: 10px 0 5px;
  }

  @font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
